.page_container{
    margin-top: 0px;
    width: 810px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding: 30px 50px;
    height: 1143px;
    color:#000;
    font-family: 'Raleway';
    border-top: 1px solid #ccc;
  }
  .test{
    height:10px;
    background-color: red;
  }